*{
    margin:0;
    padding:0;
}
body{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Ingrid Darling', cursive;
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Tajawal', sans-serif;
}
header{
    width:100%;
    height:80px;
    background-color: rgb(62, 84, 163);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header div{
    margin-bottom: 5px;
}
header div i{
    font-size: 20px;
}
header a{
    color:#ffffff;
}
.mobile-nav{
    position: relative;
    height: 55px;
    border-bottom: 1px solid #CCC;
    display: flex;
    justify-content: space-between;
    background-color: #f7f7f7;
}
.mobile-nav .logo{
    width:60px;
    border-right: 1px solid #CCC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-nav .logo svg{
    width:100%;
}
.mobile-nav .menu-icon{
    position: relative;
    width:55px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
}
.mobile-nav .menu-icon .menu{
    position: absolute;
}
.mobile-nav .menu-icon .close-menu{
    display:none;
}
.drop-down-list{
    position: absolute;
    width:100%;
    top:55px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #CCC;
}
.drop-down-list ul{
    width:90%;
}
.drop-down-list ul li{
    position: relative;
    width:100%;
    padding:22px 0;
    display: flex;
    font-style: italic;
}
.drop-down-list ul li::after{
    content:"";
    position: absolute;
    width:100%;
    height:1px;
    bottom:0;
    left:0;
    background-color: #CCC;
}
.drop-down-list ul li a{
    text-decoration: none;
    color: #000000;
}
.drop-down-list ul li a i{
    font-size: 20px;
}
.drop-down-list ul li a span{
    margin-left:7px;
}
.drop-down-list ul li div{
    margin-left:10px;
    background-color: rgb(62, 84, 163);
    padding:0 3px;
    border-radius: 3px;
    color: #ffffff;
}
.drop-down-list .log-in{
    background-color: #000000;
    width: 80%;
    padding:12px 20px;
    border-radius: 30px;
    margin:18px 0;
    color: #ffffff;
    text-align: center;
    
}
.drop-down-list .log-in span{
    font-style: italic;
}
.drop-down-list .log-in i{
    font-size: 20px;
    vertical-align: middle;
    margin-left: 3px;
}